

h1 {
     font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #ffffff;
    border-color:#cccccc;
    margin-bottom: 20px;
    line-height: 45px;

}

body {
    background:url(../papyrus.png);
    border-bottom-color: #4aaaa5;
    border-width: 0px 0px 100px 0px;

}
footer{

    position: fixed;
    left: 0;
    bottom: 0;
    display: block;
    text-align: center;
    background-color: #666666;
    color: white;
    width: 100%;
    height: 50px;
    margin-top: -50px;
    border-top: 8px solid #4aaaa5;
    }

.indexwrapper {
    max-width: 960px;
    max-height: 600px;
    background-color: white;
    padding: 20px;
    border-width: 30px 0px 0px 0px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    color: #4aaaa5;
}
p {
    color: #777777;

}

img {
    border-radius: 10px;
    box-shadow: 5px 10px 5px #888888;
    /* float: left; */
    margin-right: 10px;
    margin-bottom: 5px;
    height: 100px;
    width: 100px;
}
/* This area is for the header for all sheets
*/

.headerwrapper1 {
    background-color: #ffffff;
    height: 60px;
    color: white;
    border-color: #cccccc;
    vertical-align: center;
    margin: auto;
    
}

.emptybox {
    height: 60px;
    width: 275px;
    float: left;
}

.namebox {
    color: white;
    font-size: 22px;
    text-align: center;
    width: 200px;
    background-color: #4aaaa5;
    height: 40px;
    float: left;
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 15px;
}

.emptybox1 {
    width: 250px;
    height: 60px;
    float: left;
}

.emptybox2 {
    width: 275px;
    height: 60px;
    float: left;
}

.about {
    width: 80px;
    height: 60px;
    float: left;
    font-size: 12px;
    color: #777777;
    display: block;
    text-decoration: none;
    margin-top: 20px;

}
.portfolio {
    width: 80px;
    height: 60px;
    float: left;
    font-size: 12px;
    color: #777777;
    text-decoration: none;
    margin-top: 20px;
}

.contact {
    width: 80px;
    height: 60px;
    float: left;
    font-size: 12px;
    color: #777777;
    text-decoration: none;
    margin-top: 20px;

}


/* This section is for the contact.html page
*/

.wrapper {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    max-height: 800px;
    background-color: white;
    padding: 20px;
    margin-top: 20px;

} 

form{
    width: 960px;
}

.name {
    width: 960px;
}

.email {
    width: 960px;
}

.message {
    width: 960px;
    height: 100px;
}

.button {
    background-color: #4aaaa5;
    color: white;
}

/* This section is for portfolio */

.portfoliowrapper {
    max-width: 960px;
    max-height: 960px;
    padding: 20px;
    margin-top: 20px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;

}

.hangman {
    height: 100px;

    /* float: left; */
    width: 100px;

}

.rpg {
    height: 100px;

    /* float: left; */
    width: 100px;
}


.trivia {
    height: 100px;
    width: 100px;
    /* float: left; */
}

.rutgers {
    height: 100px;
    width: 100px;
}

.rps {
    height: 100px;
    width: 100px;
    text-align: center;
}

.clearfloat {
    clear: both;
}

@media screen and (min-width: 982) and (max-width: 1299) {
    
    .headerwrapper1 {
        max-width: 980px;
    }

    .emptybox, .emptybox1, .emptybox2 {
        width: 0%;   
            }
}


@media screen and (max-width: 980px) {
    body {
      background-color: lightgreen;
    }
    .headerwrapper1 {
        position: fixed;
        max-width: 980px;
    }
    .emptybox, .emptybox1, .emptybox2 {
        width: 0%;   
    }
    
    .indexwrapper {
        width: 60%;
        margin-left: 0%;
    }

    h2 {
        margin-top: 50px;
    }
    
    .about, .portfolio, .contact {
        float: right;
    }
    
    .wrapper {
    max-width: 600px;
    padding: 20px;
    margin-top: 20px;
    }

    .name, .email, .message {
      max-width: 90%;
    }

    form{
    width: 90%;
    }
}
  /* On screens that are 600px wide or less, make the menu links stack on top of each other instead of next to each other */
@media screen and (max-width: 768px) {
 
    body {
        max-width: 600px;
    } 
    
    .wrapper  {
        max-width: 600px;     
        padding: 20px;
        margin-top: 20px;
    }
    
    .name, .email, .message {
        max-width: 90%;
    }
        
    form {
        width: 90%;
    }
}